@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    max-width: 100%;
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HEAD */

#head {
    width: 100%;
    height: 15vh;
    background-color: black;
}
#head .container {
    width: 90%;
    height: 90%;

    position: relative;
    display: flex;
    
    margin-top: auto;
    margin-bottom: auto;

    background-color: rgb(24, 132, 165);
}
#head .container .col-lg-4 {
    text-align: center;
    display: inline-block;
    height: 80%;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;

    background-color: yellow;
    border: 1px solid rebeccapurple;
}
#head .container .col-lg-4 .row {
    width: 100%;
    height: 50%;

    margin-left: auto;
    margin-right: auto;

    background-color: red;
    border: 1px solid black;
}

/* END HEAD*/

/* NAVBAR*/

#navbar {
    width: 100%;
    height: 5vh;
    background-color: yellow;
}

#navbar .navbar-nav {
    background-color: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#navbar .collapse .redes {
    width: 20%;
    height: 5vh;
    background-color: red;

    display: flex;
}
#navbar .collapse .redes .col-4 {

    height: 5vh;
    border: 1px solid black;
    background-color: rgb(0, 17, 255);
}

@media (max-width: 990px) {
    
    #navbar {
        width: 100%;
        height: 5vh;
    }
    #navbar .navbar-nav {
        width: 100%;
        height: 50vh;
        text-align: center;
    }
    #navbar .collapse .redes {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    }
}

/* END NAVBAR*/

/* SLIDER HOME */


#carouselExampleControls {
    width: 100%;
    height: 80vh;
    margin-top: 2vh;
    background-color: yellow;

}
#carouselExampleControls .container-md {
    width: 80%;
    height: 15vh;
    margin-top: -5vh;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;

    border-radius: 2px;
    position: absolute;
    background-color: rgb(255, 196, 0);

}
#carouselExampleControls .container-md .col-8 h3{

    margin-top: 5vh;
    margin-left: 3vh;
    font-size: 20px;

}
#carouselExampleControls .carousel-inner {
    background-color: green;
}

#carouselExampleControls .carousel-inner .carousel-item {

    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.863);

}

#carouselExampleControls .carousel-inner .carousel-item img {
    width: 100%;
    height: 80vh;
    opacity: .5;
    z-index: 1;
}
#carouselExampleControls .carousel-inner .carousel-item .container {
    
    position: absolute;
    width: 80%;
    height: 35vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15vh;
    margin-top: 15vh;
    z-index: 2;

    display: inline;
}

#carouselExampleControls .carousel-inner .carousel-item .container .col-12 {
    height: 30%;
    margin-top: auto;

    border: 1px solid transparent;
    position: static;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text { 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: black;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text h2 { 
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 8vh;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text h1 { 
    font-size: 40px;
    color: white;
    font-weight: bolder;
    text-align: center;
    animation: fadeInLeft .8s;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .btn { 
    
    width: 35%;
    height: 6vh;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5vh;
    background-color: transparent;
    border: 2px solid orangered;
    color: black;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .btn:hover { 
    
    width: 35%;
    height: 6vh;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5vh;
    background-color: rgba(255, 68, 0, 0.781);
    border: none;
    color: black;
    font-weight: bold;
}

@keyframes fadeInLeft {
    0% {
       opacity: 1;
       transform: translateX(-350px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   



/* END SLIDER HOME */

#about-company {
    width: 100%;
    height: 80vh;
    background-color: green;
}

#number-projects {
    width: 100%;
    height: 50vh;
    background-color: rebeccapurple;
}

#work {
    width: 100%;
    height: 80vh;
    background-color: pink;
}

#portfolio-projects {
    width: 100%;
    height: 100vh;
    background-color: yellow;
}

#clients {
    width: 100%;
    height: 50vh;
    background-color: black;
}

#footer {
    width: 100%;
    height: 50vh;
    background-color: orange;
}

#copyright {
    width: 100%;
    height: 10vh;
    background-color: green;
}