@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    max-width: 100%;
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HEAD */

#head {
    width: 100%;
    height: 15vh;
    background-color:white;
}
#head .container {
    width: 90%;
    height: 90%;

    position: relative;
    display: flex;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}
#head .container .col-lg-4 {
    text-align: center;
    display: inline-block;
    height: 80%;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;


    border-right: .1px solid rgba(3, 3, 3, 0.336);
}
#head .container .col-lg-4 .row {
    width: 100%;
    height: 50%;

    margin-left: auto;
    margin-right: auto;

}
#head .container .col-lg-4 .row h4{
    margin-top: 2vh;
}
#head .container .col-lg-4 .row h5{
    font-weight: bolder;
}
#head .container .col-lg-4 .row .btn{

    width:auto;
    font-size: 70%;
    background-color: rgba(240, 64, 20, 0.76);
    border: none;
    color: black;
    font-weight: bolder;
}
#head .container .col-lg-4 .row .btn:hover{

    background-color: rgba(240, 64, 20, 0.932);
    color: black;
}

@media (max-width:550px) {
    #head {
        height: 40vh;


    }
    #head .container {
        width: 100%;
        height: auto;
        display: inline-block;
        
        margin-left: 0vh;
        margin-right: 0vh;

    
    }
    #head .container .col-lg-4 {
        height: 60%;
        width: 90%;
        border: none;
        text-align: center;
        border-bottom: .5px solid rgba(0, 0, 0, 0.507) ;
    }
    #head .container .col-lg-4 .row h4{
        font-size: 16px;
    }
    #head .container .col-lg-4 .row h5{
        font-size: 14px;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    #head .container .col-lg-4 .row .btn{
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 10px;

    }
}

/* END HEAD*/

/* NAVBAR*/

#navbar {
    width: 100%;
    height: 7vh;
    background-color: rgba(253, 253, 253, 0.945);
}

#navbar .navbar-nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#navbar .collapse .redes {
    width: 20%;
    height: 5vh;
    cursor: pointer;
    display: flex;
}
#navbar .collapse .redes .col-4 {

    height: 5vh;

}
#navbar .collapse .redes .col-4 img {

    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-top: .5vh;
}
#navbar .collapse .redes .col-4 .nav-item ul  {

    font-weight: bolder;
    color: pink;
}


@media (max-width: 990px) {
    
    #navbar {
        width: 100%;
        height: 5vh;
        margin-top: 0vh;
    }
    #navbar .navbar-nav {
        width: 100%;
        height: 85vh;
        text-align: center;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.836);
        
    }
    #navbar .collapse .redes {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2vh;
        border-radius: 5px;
        background-color: rgba(231, 65, 23, 0.63);
        color: white;
    }
    #navbar .collapse .redes img {
        margin-left: 2vh;
    }
    #navbar .collapse .nav-item a {
        margin-top: 4vh;
        margin-bottom: 2vh;
        color: white;
    }
}

/* END NAVBAR*/

/* SLIDER HOME */


#carouselExampleControls {
    width: 100%;
    height: 80vh;
    margin-top: 0vh;


}
#carouselExampleControls .container-md {
    width: 50%;
    height: 15vh;
    margin-top: -5vh;
    margin-left: 25%;
    margin-right: auto;
    display: flex;

    border-radius: 2px;
    position: absolute;
    background-color: rgb(255, 196, 0);

}
#carouselExampleControls .container-md .col-8 h3{
    width: 80%;
    margin-top: 5vh;
    margin-left: 3vh;
    font-size: 20px;

}
#carouselExampleControls .carousel-inner {
    background-color: black;
}

#carouselExampleControls .carousel-inner .carousel-item {

    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.863);


}

#carouselExampleControls .carousel-inner .carousel-item img {
    width: 100%;
    height: 80vh;
    opacity: .5;
    z-index: 1;
}
#carouselExampleControls .carousel-inner .carousel-item .container {
    

    width: 90%;
    height: 35vh;
    margin-left: 5%;
    margin-right:5%;
    margin-top: 15vh;
    z-index: 2;

    display: inline;



}

#carouselExampleControls .carousel-inner .carousel-item .container .col-12 {
    height: 30%;
    width: 100%;

    margin-left: 0vh;
    margin-right: 0vh;

    border: 1px solid transparent;
    position: static;



}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text { 
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;


}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text h2 { 
    font-size: 1.2vw;
    color: white;
    width: 90%;
    margin-left: 0%;

    text-align: center;
    margin-top: 15vh;
    position: absolute;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text h1 { 
    font-size: 2vw;
    color: white;
    font-weight: bolder;
    text-align: center;
    animation: fadeInLeft .8s;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .btn { 
    
    width: 20%;
    height: 6vh;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5vh;
    background-color: transparent;
    border: 2px solid orangered;
    color: rgb(255, 255, 255);
}
#carouselExampleControls .col-4 .btn { 
    
    width: 80%;
    height: 6vh;
    margin-left: 0%;
    margin-top: 5vh;
    background-color: rgba(255, 68, 0, 0.534);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
#carouselExampleControls .col-4 .btn:hover { 
    
    background-color: rgba(255, 68, 0, 0.938);
    transition: .4s ease;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
#carouselExampleControls .carousel-inner .carousel-item .container .col-12 .btn:hover { 
    

    background-color: rgba(255, 68, 0, 0.781);
    transition: .4s ease-in-out;
    border: none;
    color: black;
    font-weight: bold;
}

@media (max-width:550px) {
    #carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text h2 { 
        font-size: 3vw;

    }
    #carouselExampleControls .carousel-inner .carousel-item .container .col-12 .text h1 { 
        font-size: 5vw;

    }
    #carouselExampleControls .carousel-inner .carousel-item .container {
        margin-left: 10%;
        margin-right: 10%;
    }
    #carouselExampleControls .carousel-inner .carousel-item .container .col-12 .btn { 
    
        width: 80%;
        height: 4vh;
        margin-left: 10%;
        margin-right: 10%;
    }
    #carouselExampleControls .container-md {
        width: 90%;
        height: 15vh;
        margin-top: -5vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    #carouselExampleControls .container-md .col-8 h3{
        font-size: 4vw;
        width: 90%;

    
    }
    #carouselExampleControls .col-4 .btn { 
    
        margin-left: 0vh;
        width: 100%;
        font-size: 1.7vw;
    }
    
}

@keyframes fadeInLeft {
    0% {
       opacity: 1;
       transform: translateX(-350px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   

 
/* END SLIDER HOME */


/* ABOUT COMPANY */
#about-company {
    width: 100%;
    height: auto;
    margin-top: 10vh;
    padding-bottom: 10px;
    position: relative;

}
#about-company .container {
    width: 60%;
    height: auto;
    margin-top: 15vh;


    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    margin-bottom: 2vh;

}
#about-company .container .container-md {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
#about-company .container .container-md .col-12 {
   color: rgb(0, 0, 0);
   display: flex;
   margin-top: 5vh;


}

#about-company .container .container-md .col-12 h2 {
    font-size: 2vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
#about-company .container .container-md .col-12 h3 {
    margin-top: 10vh;
    cursor: pointer;
    width: 20%;
    padding: 10px;
}
#about-company .container .container-md .col-12 h3:hover {
    width: 15%;
    height: 4vh;
    transition: .4s ease-in-out;
    font-weight: bolder;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.733);

    color: rgb(255, 255, 255);
}
#about-company .container .container-md .col-12 h4 {
   margin-top: 3vh;
   text-align: justify;
   font-size: 16px;
   margin-left: 0vh;
   width: 100%;
}
#about-company .container .container-md .col-12 .col-6 {

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 4vh;
    height: 15vh;
    cursor: pointer;
    display: inline;

 }
 #about-company .container .container-md .col-12 .col-6 h4 {

    width: 100%;
    margin-left: 0vh;
    margin-top: 1vh;
 }
 #about-company .container .container-md .col-12 .col-6 img {

    width: 20%;
    margin-top: 1vh;
    margin-left: 40%;
    margin-right: 40%;
 }


 #about-company .container .row {
    margin-top: 5vh;
    margin-bottom: 5vh;
 }

 #about-company .container .row .card {
    background-color: transparent;
    border-bottom: 1px solid orangered;
    margin-top: .5vh;
    text-align: center;
    color: black;
 }
 #about-company .container .row .card:hover {
    background-color: orangered;
    transition: .4s ease-in-out;
 }
 #about-company .container .row .card h6 {
    color: black;
 }
 #about-company .container .row .card .card-header {
    color: rgba(165, 10, 10, 0.795);
    background-color: transparent;
 }
 #about-company .container .row .card p {
     font-size: 16px;
     text-align: justify;
     color: rgb(0, 0, 0);
 }

 @media (max-width: 550px) {
    #about-company .container .container-md .col-12 {
        display: inline-block;
     
     }
 }


/* END ABOUT COMPANY */


/* NUMBER PROJECTS */
#number-projects {
    width: 100%;
    height: 50vh;
    margin-top: 10vh;

    display: flex;
}
#number-projects .col-3 {

    margin-top: 5vh;
    height: 40vh;


    display: inline-block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.89);
}
#number-projects .col-3:hover {

    background-color: rgba(0, 0, 0, 0.911);
}
#number-projects .col-3 .imagem {
    
    width: 100%;

    height: 50%;

}
#number-projects .col-3 .imagem img {
    
    margin-left:35%;
    margin-right: 35%;
    margin-top: 3vh;
    width: 25%;
}
#number-projects .col-3 .row {
    
    height: 25%;

}
#number-projects .col-3 .row h2 {
    

    width: 80%;
    font-size: 2.5vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;

}
#number-projects .col-3 .row h3 {
    width: 80%;

    font-size: 1vw;
    margin-top: 2vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

@media (max-width: 750px) {
    #number-projects .col-3 .imagem img {

        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #number-projects .col-3 .row h2 {
        
        font-size: 3.5vw;
    
    }
    #number-projects .col-3 .row h3 {
        font-size: 1.5vw;
    
    }
    
}
@media (max-width: 550px) {
    #number-projects .col-3 .imagem img {

        width: 80%;
        margin-left:10%;
        margin-right: 10%;
        margin-top: 5vh;
    }

    #number-projects .col-3 .row h2 {
        
        font-size: 4.5vw;
    
    }
    #number-projects .col-3 .row h3 {
        font-size: 2.5vw;
    
    }
    
}
/* END NUMBER PROJECTS */


/* OUR WORK */
#work {
    width: 100%;
    height: 100vh;
    margin-top: 15vh;

}
 .title h2 {
    font-size: 35px;
    font-weight: 600;
}

#work .col-12 {
    margin-top: 10vh;
    height: 80vh;
    display: flex;

}
#work .col-12 .col-6 {
    height: 100%;
    display: inline-block;

}
#work .col-12 .col-6 h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 70%;
    text-align: justify;
    font-size: 2vw;

}#work .col-12 .col-6 h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 70%;
    text-align: justify;
    font-size: 1.5vw;

}
#work .col-12 .col-6 .col-12 {
    height: 30%;
    margin-top: 5vh;

}
#work .col-12 .col-6 .col-12 .col-4 {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(48, 44, 47);
    margin-left: .5vh;

}
@media (max-width:900px) {
    #work .col-12 .col-6 h2 {
        margin-top: 10vh;
        font-size: 4vw;
    
    }#work .col-12 .col-6 h3 {

        font-size: 2.5vw;
    
    }
}
@media (max-width:750px) {
    #work .col-12 .col-6 h2 {
        margin-top: 10vh;
        font-size: 4vw;
    
    }#work .col-12 .col-6 h3 {

        font-size: 2.5vw;
    
    }
}
/* END OUR WORK */

/* OUR WORK */
#portfolio-projects {
    width: 100%;
    height: 120vh;
    margin-top: 25vh;
}
#portfolio-projects .container-md-12 {
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

}
#portfolio-projects .container-md-12 .box {
    width: 80%;
    height: 30%;
    margin-top: .5vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;

}
#portfolio-projects .container-md-12 .box img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#portfolio-projects .container-md-12 .box .col-4 {
    height: 100%;
    margin-top: 1vh;
}
#portfolio-projects .container-md-12 .box .col-6 {

    margin-top: 1vh;
}
#portfolio-projects .container-md-12 .col-md-8 {

    height: 30vh;
}
#portfolio-projects .container-md-12 .col-md-8 img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#portfolio-projects .container-md-12 .col-md-8 img:hover {
    position: relative;
    zoom: 1.5;
}
#portfolio-projects .container-md-12 .col-md-4{

    margin-top: 1vh;
    margin-left: 0vh;
    cursor: pointer;
    height: 30vh;
}
#portfolio-projects .container-md-12 .col-md-4 img{
    width: 100%;
    height: 100%;
    
}
#portfolio-projects .container-md-12 .col-4{
    margin-top: 1vh;
    margin-left: 0vh;

    height: 20vh;
}
#portfolio-projects .container-md-12 .col-4 img{
    width: 100%;
    height: 100%;
}
#portfolio-projects .container-md-12 .col-8{
    margin-top: 1vh;
    background-color: rgb(0, 255, 13);
    height: 20vh;
}

@media (max-width:550px) {
    #portfolio-projects {
        margin-top: 0vh;
    }
    #portfolio-projects .container-md-12 .col-md-8 img {

        width: 60%;
    }

}


/* END OUR WORK */

/* CLIENTS */
#clients {
    width: 100%;
    height: 60vh;
    margin-top: 30vh;

    display: inline;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-template-rows-1 {
	grid-template-rows: 150px 150px 150px;
}


/* Grid Item */
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.grid {

	max-width: 80vh;
	margin: 0 auto;
    margin-top: 10vh;

}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

#footer {

    margin-top: 20vh;
    width: 100%;
    height: 40vh;
    background-color: rgb(0, 0, 0);
}

#copyright {
    width: 100%;
    height: 5vh;
    background-color: green;
}


.single-logo-item img {
  max-width: 180px;
  margin: 0 auto;
}

.logo-carousel-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.footer-area {
  background-color: #051922;
  margin-top: 20vh;
  color: #fff;
  padding: 150px 0;
}

h2.widget-title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}

h2.widget-title:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #F28123;
  content: "";
}

.footer-box p {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}

.footer-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-box ul li {
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
}

.footer-box ul li:last-child {
  margin-bottom: 0;
}

.footer-box.subscribe form input[type=email] {
  border: none;
  background-color: #012738;
  width: 78%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
}

.footer-box.subscribe form button {
  width: 20%;
  border: none;
  background-color: #012738;
  color: #F28123;
  padding: 14px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.footer-box.subscribe form button:focus {
  outline: none;
}

#sobre {
    width: 100%;
    height: 120vh;
    
}
#sobre .container{
    margin-top: 10vh;
    height: 100%;

    
}
#sobre .container .col-12{
    height: 40vh;

    
}
#sobre .container .col-12 .title{
    text-align: center;
    height: 10vh;

    
}
#sobre .container .col-12 h3{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 16px;
    text-align: justify;
    
}