
{% extends 'base.html' %}    
{% load static %}


{% block content %}}
    
    <!-- slider home -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                
                    <div class="container">
                        <div class="col-12">
                            <div class="text">
                                <h2>QUALIDADE E EXPERIÊNCIA</h2>
                                <h1>EXPERT ENGENHARIA CIVIL</h1>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-danger">VER  PROJETOS</button>
                        </div>
                    </div>
                    <img class="d-block" src="{% static 'images/back-black.jpeg' %}" alt="First slide">
                  </div>
              <div class="carousel-item">
                
                <div class="container">
                    <div class="col-12">
                        <div class="text">
                            <h2>+10 ANOS NO MERCADO</h2>
                            <h1>CLIENTES NACIONAIS E INTERNACIONAIS</h1>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-danger">VER  CLIENTES</button>
                    </div>
                </div>
                <img class="d-block" src="{% static 'images/back-black.jpeg' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                
                <div class="container">
                    <div class="col-12">
                        <div class="text" data-aos="fade-right">
                            <h2>+50 INSTALAÇÕES</h2>
                            <h1>CONHEÇA NOSSO PORTFÓLIO DE PROJETOS</h1>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-danger">SOLICITE UM ORÇAMENTO</button>
                    </div>
                </div>
                <img class="d-block" src="{% static 'images/back-black.jpeg' %}" alt="First slide">
                
                
                
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

            <div class="container-md">
                <div class="col-8">
                    <h3>TIRE SUAS IDEIAS DO PAPEL. 
                        <br>
                        INICIE UMA CONVERSA ATRAVÉS DO WHATSAPP. </h3>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-danger">WHATSAPP APP</button>
                </div>
            </div>
        </div>

    <!-- about company -->
    <section id="about-company">

        <div class="container">
            <div class="container-md">
                <div class="col-12">
                    <h2>CONHEÇA NOSSOS SERVIÇOS</h2>
                </div>
                <div class="col-12">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque unde libero consequuntur praesentium corrupti natus saepe sequi, provident dolore architecto repudiandae, ad officia earum in, recusandae dolores animi esse illum.</h4>
                </div>

                <div class="col-12">
                    <div>
                        <section class="grid grid-template-rows-1">
                            <div class="item">
                                <img src="{% static 'images/worker.png' %}" alt="">
                            </div>
                            <div class="item">
                               <img src="{% static 'images/tools.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/planta.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/homem.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/medicao.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/danger.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/predio.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/seguranca.png' %}" alt="">
                            </div>
    
                        </section>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 mx-auto">
                  
                  <div id="accordionExample" class="accordion shadow">
            
                    <div class="card">
                      <div id="headingOne" class="card-header shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-uppercase collapsible-link py-2">Nossa Política de Projetos</a></h6>
                      </div>
                      <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, vero quo ratione animi debitis molestias officiis praesentium harum incidunt aspernatur, ipsam totam repellendus voluptatum provident non neque, labore pariatur nisi.</p>
                        </div>
                      </div>
                    </div>
            
                    
                    <div class="card">
                      <div id="headingTwo" class="card-header shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed  text-uppercase collapsible-link py-2">Nossa Política de Certificação</a></h6>
                      </div>
                      <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit nobis hic veniam veritatis neque ut corrupti harum sint adipisci tempora. Delectus animi est fugit quaerat sequi ipsa, quod similique soluta?</p>
                        </div>
                      </div>
                    </div>
            
                    
                    <div class="card">
                      <div id="headingThree" class="card-header shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed  text-uppercase collapsible-link py-2">ORÇAMENTOS E NOTAS</a></h6>
                      </div>
                      <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste fugit a ea non velit veniam nemo veritatis odio quos deserunt natus asperiores, eaque earum quod neque numquam, eligendi sequi officia.</p>
                        </div>
                      </div>
                    </div>
            
                  </div>
                </div>
        </div>
    </section>

    <!-- numbers of projects -->
    <section id="number-projects">
        <div class="col-3">
            <div class="imagem">
                <img src="{% static 'images/engenharia-civil.svg' %}" alt="">
            </div>
            <div class="row">
                <h2>1548</h2>
            </div>
            <div class="row">
                <h3>CONSTRUÇÃO CIVIL</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="imagem">
                <img src="{% static 'images/fact1.png' %}" alt="">
            </div>
            <div class="row">
                <h2>1548</h2>
            </div>
            <div class="row">
                <h3>CONSTRUÇÃO CIVIL</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="imagem">
                <img src="{% static 'images/engenharia-civil.svg' %}" alt="">
            </div>
            <div class="row">
                <h2>1548</h2>
            </div>
            <div class="row">
                <h3>CONSTRUÇÃO CIVIL</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="imagem">
                <img src="{% static 'images/fact1.png' %}" alt="">
            </div>
            <div class="row">
                <h2>1548</h2>
            </div>
            <div class="row">
                <h3>CONSTRUÇÃO CIVIL</h3>
            </div>
        </div>
    </section>

    
     <!-- portfolio projects -->
     <section id="portfolio-projects">
        <div class="title text-center">
            <h2>Nossos Projetos</h2>
        </div>
        <div class="container-md">
            <div class="col-md">
                <div class="container">
                    <img src="{% static 'images/dark-image.jpg' %}" alt="">
                </div>
            </div>
            <div class="col">
                
                <div class="container">
                    <img src="{% static 'images/light-image.jpg' %}" alt="">
                </div>
            </div>

        </div>

    </section>

    <!-- clients -->
    <section id="clients">
        <div class="title text-center">
            <h2>Nossos Clientes</h2>    
        </div>
       
        <div>
            <section class="grid grid-template-rows-1">
                <div class="item">
                    <img src="{% static 'images/logo1.svg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'images/logo2.svg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'images/logo4.svg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'images/logo3.svg' %}" alt="">
                </div>
                <div class="item"><img src="{% static 'images/logo1.svg' %}" alt=""></div>
                <div class="item"><img src="{% static 'images/logo2.svg' %}" alt=""></div>
                <div class="item"><img src="{% static 'images/logo4.svg' %}" alt=""></div>
                <div class="item"><img src="{% static 'images/logo8.svg' %}" alt=""></div>
                <div class="item"><img src="{% static 'images/logo1.svg' %}" alt=""></div>
            </section>
            </div>

    </section>


{% endblock %}